.customContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputText {
    width: 50%;
    margin-top: 5%;
    padding: 10px 0;
    border: none;
    border-bottom: solid 0.5px grey;
}
.inputRange {
    margin: 20px 0;
    width: 25%;
}
