.homePage {
    text-align: center;
}

.homePage>p {
    margin-top: 15%;
    animation: bounce 1s ease infinite;
}

@keyframes bounce{
    from {margin-top: 15% ;}
    50%  {margin-top: 13% ;}
    to   {margin-top: 15% ;}
}